body {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "home" "desarrollos" "proyectos" "partners" "footer"; }

header #homeComponent {
  grid-area: home;
  position: absolute;
  width: 1787px;
  height: 1341px;
  top: -622px;
  left: -184px;
  background-image: url("./img/backGround.png");
  background-repeat: no-repeat;
  background-size: cover; }
  header #homeComponent .title {
    position: absolute;
    width: 223px;
    height: 77px;
    margin: 648px 1276px 616px 288px;
    display: flex;
    justify-content: center;
    align-items: center; }
    header #homeComponent .title h1 {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      color: #F2F2F2;
      font-size: 64px;
      line-height: 77px;
      text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); }
  header #homeComponent .line {
    position: absolute;
    width: 1239px;
    height: 0px;
    border: 1px solid #F2F2F2;
    margin: 734px 263px 607px 285px; }
  header #homeComponent .ecommerTitle {
    position: absolute;
    margin: 830px 722px 404px 285px;
    width: 780px;
    height: 107px;
    display: flex;
    align-items: center; }
    header #homeComponent .ecommerTitle h2 {
      font-family: 'Cardo', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 100px;
      line-height: 135px;
      font-feature-settings: "tnum" on, "lnum" on;
      color: #F2F2F2;
      text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); }
  header #homeComponent .ecommerceDescription {
    position: absolute;
    width: 433px;
    height: 72px;
    margin: 933px 1059px 326px 285px; }
    header #homeComponent .ecommerceDescription .descriptionEcommerce {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      display: flex;
      align-items: center;
      font-feature-settings: "tnum" on, "lnum" on;
      color: rgba(242, 242, 242, 0.86); }
  header #homeComponent .contacButtton {
    position: absolute;
    width: 260px;
    height: 45px;
    margin: 1121px 1242px 175px 285px;
    border-radius: 20px;
    background-color: #084347;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); }
    header #homeComponent .contacButtton p {
      font-family: "Abhaya Libre", serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      font-feature-settings: "tnum" on, "lnum" on;
      color: #F2F2F2;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  header #homeComponent nav ul {
    position: absolute;
    margin: 790px 232px 488px 1492px;
    list-style: none; }
    header #homeComponent nav ul .inicioDesplegado {
      position: absolute;
      width: 0px;
      height: 63px;
      background: #084347;
      right: 0px;
      top: 0px;
      border-radius: 50px; }
      header #homeComponent nav ul .inicioDesplegado .inicioText {
        display: none;
        width: 172px;
        height: 62px; }
        header #homeComponent nav ul .inicioDesplegado .inicioText h3 {
          width: 68px;
          margin-top: 19px;
          margin-left: 80px;
          font-family: 'Cardo', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 32px;
          color: #FFFFFF; }
    header #homeComponent nav ul .inicio {
      float: right;
      width: 63px;
      height: 63px;
      top: 790px;
      border-radius: 50%;
      box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
      background: #084347;
      display: flex;
      align-items: center;
      justify-content: center; }
      header #homeComponent nav ul .inicio .inicioImg {
        width: 35px;
        height: 35px;
        background-image: url(./img/homeIcon.png); }
    header #homeComponent nav ul .desarrollosDesplegado {
      position: absolute;
      width: 0px;
      height: 63px;
      right: 0px;
      top: 80px;
      background: #084347;
      border-radius: 50px; }
      header #homeComponent nav ul .desarrollosDesplegado .desarrolloText {
        display: none;
        width: 172px;
        height: 62px; }
        header #homeComponent nav ul .desarrollosDesplegado .desarrolloText h3 {
          width: 68px;
          margin-top: 19px;
          margin-left: 50px;
          font-family: 'Cardo', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 32px;
          color: #FFFFFF; }
    header #homeComponent nav ul .desarrollos {
      float: right;
      width: 63px;
      height: 63px;
      top: 790px;
      border-radius: 50%;
      background: #084347;
      box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
      display: flex;
      align-items: center;
      justify-content: center; }
      header #homeComponent nav ul .desarrollos .desarrollosImg {
        width: 35px;
        height: 35px;
        background-image: url(./img/desarrolloIcon.png); }
    header #homeComponent nav ul .proyectosDesplegado {
      position: absolute;
      width: 0px;
      height: 63px;
      right: 0px;
      top: 160px;
      background: #084347;
      border-radius: 50px; }
      header #homeComponent nav ul .proyectosDesplegado .proyectoText {
        display: none;
        width: 172px;
        height: 62px; }
        header #homeComponent nav ul .proyectosDesplegado .proyectoText h3 {
          width: 68px;
          margin-top: 19px;
          margin-left: 60px;
          font-family: 'Cardo', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 32px;
          color: #FFFFFF; }
    header #homeComponent nav ul .proyectos {
      float: right;
      width: 63px;
      height: 63px;
      top: 790px;
      border-radius: 50%;
      box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
      background: #084347;
      display: flex;
      align-items: center;
      justify-content: center; }
      header #homeComponent nav ul .proyectos .proyectosImg {
        width: 35px;
        height: 35px;
        background-image: url(./img/proyectosIcon.png); }
    header #homeComponent nav ul .contactoDesplegado {
      position: absolute;
      width: 0px;
      height: 63px;
      right: 0px;
      top: 240px;
      background: #084347;
      border-radius: 50px; }
      header #homeComponent nav ul .contactoDesplegado .contactoText {
        display: none;
        width: 172px;
        height: 62px; }
        header #homeComponent nav ul .contactoDesplegado .contactoText h3 {
          width: 68px;
          margin-top: 19px;
          margin-left: 60px;
          font-family: 'Cardo', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 32px;
          color: #FFFFFF; }
    header #homeComponent nav ul .contacto {
      float: right;
      width: 63px;
      height: 63px;
      top: 790px;
      border-radius: 50%;
      box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
      background: #084347;
      display: flex;
      align-items: center;
      justify-content: center; }
      header #homeComponent nav ul .contacto .contactoImg {
        width: 35px;
        height: 35px;
        background-image: url(./img/contactoIcon.png); }

.wspItem {
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 1166px 232px 95px 1465px;
  background-color: #084347;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .wspItem .wsp {
    width: 55px;
    height: 56px;
    background-image: url("../style/img/wspIcon.png"); }

section #desarrollos {
  grid-area: desarrollos; }
  section #desarrollos .title {
    position: absolute;
    width: 327px;
    height: 82px;
    top: 739px;
    left: 531px;
    display: flex;
    justify-content: center;
    align-items: center; }
    section #desarrollos .title h3 {
      font-family: "Cardo", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 64px;
      line-height: 87px;
      color: #084347;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  section #desarrollos .ecommerceSection {
    position: absolute;
    top: 834px;
    left: 187px;
    width: 269px;
    height: 91px;
    display: flex;
    align-items: center;
    border-bottom: 9px solid #084347; }
    section #desarrollos .ecommerceSection h4 {
      top: 837px;
      left: 245px;
      font-family: "Cardo", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 49px;
      color: #084347;
      margin-left: 15px;
      display: inline-block; }
  section #desarrollos ul {
    list-style: none; }
  section #desarrollos ul li:first-child {
    font-weight: 900;
    color: #000000; }
  section #desarrollos .aEcommerce {
    display: block;
    position: absolute;
    top: 939px;
    left: 187px;
    width: auto;
    height: 132px; }
    section #desarrollos .aEcommerce li {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      opacity: 0.8; }
  section #desarrollos .bEcommerce {
    display: block;
    position: absolute;
    width: 360px;
    height: 110px;
    top: 1082px;
    left: 187px; }
    section #desarrollos .bEcommerce li {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      opacity: 0.8; }
  section #desarrollos .cEcommerce {
    display: block;
    position: absolute;
    width: auto;
    height: 132px;
    top: 1208px;
    left: 187px; }
    section #desarrollos .cEcommerce li {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      opacity: 0.8; }
  section #desarrollos .webInstitucional {
    position: absolute;
    width: 312px;
    height: 91px;
    top: 834px;
    left: 590px;
    display: flex;
    align-items: center; }
    section #desarrollos .webInstitucional h4 {
      font-family: "Cardo", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 49px;
      color: rgba(10, 10, 10, 0.5);
      margin-left: 15px;
      display: inline-block; }
  section #desarrollos .dEcommerce {
    display: block;
    position: absolute;
    width: 300px;
    height: 66px;
    top: 939px;
    left: 595px; }
    section #desarrollos .dEcommerce li {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      opacity: 0.8; }
  section #desarrollos .eEcommerce {
    display: block;
    position: absolute;
    width: 268px;
    height: 66px;
    top: 1012px;
    left: 595px; }
    section #desarrollos .eEcommerce li {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      opacity: 0.8; }
  section #desarrollos .fEcommerce {
    display: block;
    position: absolute;
    width: 250px;
    height: 88px;
    top: 1107px;
    left: 595px; }
    section #desarrollos .fEcommerce li {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      opacity: 0.8; }
  section #desarrollos .gEcommerce {
    display: block;
    position: absolute;
    width: 380px;
    height: 88px;
    top: 1208px;
    left: 595px; }
    section #desarrollos .gEcommerce li {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      opacity: 0.8; }
  section #desarrollos .oneCel {
    position: absolute;
    width: 600px;
    height: 450px;
    top: 803px;
    left: 780px; }
  section #desarrollos .secondCel {
    position: absolute;
    width: 500px;
    height: 375px;
    top: 970px;
    left: 1005px; }

#proyectos {
  grid-area: proyectos;
  position: absolute;
  width: 1540px;
  height: 760px;
  top: 1410px;
  left: 0px;
  background-color: #084347; }
  #proyectos .title {
    width: 265px;
    height: 87px;
    margin: 53px 562px; }
    #proyectos .title h3 {
      font-family: 'Cardo', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 60px;
      line-height: 87px;
      color: #F2F2F2; }
  #proyectos .pcOne {
    position: absolute;
    width: 600px;
    height: 450px;
    top: 140px;
    left: 92px; }
  #proyectos .pcSecond {
    position: absolute;
    width: 600px;
    height: 450px;
    top: 140px;
    left: 758px; }

#partners {
  grid-area: partners;
  position: absolute;
  width: 1540px;
  height: 420px;
  top: 2170px;
  left: 0px;
  background-color: #E5E5E5; }
  #partners .title {
    width: 220px;
    height: 87px;
    margin: 23px 653px 620px 582px;
    display: flex;
    justify-content: center;
    align-items: center; }
    #partners .title h3 {
      font-family: 'Cardo', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 58px;
      line-height: 87px;
      color: #084347; }
  #partners .tiendaNube {
    position: absolute;
    width: 494px;
    height: 101px;
    top: 190px;
    left: 145px; }
  #partners .wix {
    position: absolute;
    width: 189px;
    height: 106px;
    top: 190px;
    left: 963px; }

footer {
  position: absolute;
  grid-area: footer;
  width: 1600px;
  height: 707px;
  top: 2588px;
  left: 0px;
  background-color: #084347; }
  footer .moveText {
    position: absolute;
    width: 1840px;
    height: 152px;
    top: 278px;
    left: -3px;
    background: #F2F2F2; }
  footer .contacCircle {
    position: absolute;
    width: 270px;
    height: 270px;
    top: 220px;
    left: 581px;
    border-radius: 50%;
    background: #084347;
    border: 9px solid #F2F2F2;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .contacCircle h3 {
      font-family: 'Cardo', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 49px;
      color: #F2F2F2; }
